const host = "https://demo.wp-api.org";

const postParamsToBeDeleted = [];

const teaserImageSettings = {
  saveMedia: false,
  saveUrl: true,
};

const saveSettings = {
  saveInSeparateFolders: false,
  useGenericJsonFileName: false,
};

module.exports = {
  host,
  postParamsToBeDeleted,
  teaserImageSettings,
  saveSettings,
};
