const host = "https://demo.wp-api.org";
const postParamsToBeDeleted = [];

const teaserImageSettings = {
  saveMedia: false,
  saveUrl: true,
};


module.exports = { host, postParamsToBeDeleted, teaserImageSettings };
